head
    <meta charset="UTF-8">
    <title>mojawork pug demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/index.css">

body

    div(id="layout")
        include layout/header/template
        include layout/main/home/template
        include layout/footer/template