/* set color vars */
$color-white: #ffffff;
$color-black: #333333;
$color-grey: #cccccc;
$color-grey-light: #e5e5e5;
$color-grey-light-ultra: #f6f6f6;
$color-grey-dark: #848484;
$color-red: #de0000;
$color-blue: #0470b2;
$color-blue-light: #d6e7f0;